<div class="container">
  <h1 style="text-align: center; color: blue;">DevOps Feedback Form</h1>
  <form method="post" #surveyform="ngForm" (submit)="onSubmit(surveyform)">

    <label for="name"><b>Name</b></label>
    <input type="text"  name="name" placeholder="Your name.." ngModel>

    <label for="email"><b>Email</b></label>
    <input type="text"  name="email" placeholder="Your email.." ngModel>


    <label for="message"><b>Message</b></label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px" ngModel></textarea>

    <input type="submit" value="Submit">

  </form>
</div>